<html>
  <head>
	  <style>
		  body {
				background-color: <%= background %>
			}
		</style>
	</head>
	<body>
		<form>
		  <input type='text' name='guess' />
			<input type='submit' value='Guess!' />
		</form>
		<p> Attempts remaining: <%= count %></p>
    <p><%= message %></p>
		<p><%= result %></p>
		<p><%= cheat %></p>
		<% if number == params['guess'].to_i %>
			<p>
				The SECRET NUMBER is <%= number %>
			</p>
		<%end%>
	</body>
</html>